@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 17px;
    font-family: 'Oswald' , sans-serif;
    font-weight: 400;
    font-style: italic;
    background: #c1b49c;
    color: #454438;
}
.card {
    border: 5px solid grey;
    border-radius: 20%;
    margin-bottom: 5px;
    background-color: darkorange;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 0px 1px 0px 5px;
}

.card {
    text-align: center;
}

.card a {
    text-decoration: none;
}

header {
    text-align: center;
}
header img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
}
table {
    min-width: 450px;
    padding-left: 5px;
}

td {
    border: 3px solid grey;
}

.forms {
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    transition: all .2s;
}

a:hover {
    color: yellowgreen;
    font-size: 150%;
}

.btn {
    background: green;
    padding: 10px 15px;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-family: inherit;
}
