@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 17px;
    font-family: 'Oswald' , sans-serif;
    font-weight: 400;
    font-style: italic;
    background: #fff url(body_fon.jpg);
    background-attachment: fixed;
    background-size: 100%;
    color: #c9f8fe;
}

header {
    text-align: center;
}

header img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
}

.card {
    border: 5px solid darkcyan;
    border-radius: 20%;
    margin-bottom: 5px;
    background-color: #2eb8b3;
    padding: 20px;
    text-align: center; 
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 0px 1px 0px 5px;
}

.card a {
    text-decoration: none;
}

a {
    transition: all .2s;
}

a:hover {
    color: orangered;
    font-size: 150%;
}


table {
    min-width: 450px;
    padding-left: 5px;
}

td {
    border: 3px solid #fda657;
}

ul {
    list-style: none;
}

.btn {
    background: #fda657;
    padding: 10px 15px;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-family: inherit;
}

.knopka {
    background: #013147;
    padding: 10px 15px;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-family: inherit;
}

button {
    transition: all .3s;
    margin: 20px;
    color: #c9f8fe;
}

button:hover {
    color: orangered;
    font-size: 120%;
}

.nf h2{
    text-align: center;
}

.form-row {
margin-bottom: 10px;
display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
 display: block;
 font-size: 14px;
 color: #c9f8fe;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #c9f8fe;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

input::placeholder,
textarea::placeholder {
    color: #c9f8fe;
}

.KK {
    text-align: center;
}